*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    background: #010202;
    font-family: 'Source Sans Pro', sans-serif;}

a{
    text-decoration: none;
}

.header{
    width: 90%;
    max-width: 1146px;
    margin: auto;
    padding: 56px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: block;
}

.user-photo{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user{
    display: flex;
    align-items: center;
}

.user-name{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin-right: 15px;
}

.app{
     background: linear-gradient(90deg, #010202 0%, #010202 43%, rgba(1, 2, 2, 0.2) 90%), /*url(../img/cover-image.jpg)*/ no-repeat center right; 
    min-height: 100vh; 
}

.film{
    width: 90%;     
    max-width: 1146px;
    margin: auto;
    padding: 7% 0;
}

.tags{
    color: #E5E5E5;
    opacity: 0.4;
    max-width: 348px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.age{
    padding: 1px 5px;
    opacity: 0.5;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}

.description{
    max-width: 460px;
    margin-top: 9px;
    line-height: 140%;
    color: #E5E5E5;
    font-size: 21px;
    margin-bottom: 36px;
}

.button{
    color: #fff;
    padding: 10px 25px 12px;
    border-radius: 6px;
    border: none;
    line-height: 140%;
    font-size: 16px;
    cursor: pointer;
}

.button-primary{
    background-color: #EA6E20;
    margin-right: 15px;
}

.button-default{ 
    background-color: #2F2F2F;
}

.button-text{
    margin-left: 10px;
    vertical-align: text-bottom;
}

@media(max-width:768px){
    .app{
        height: auto;
        padding-bottom: 400px;
         background:url(../img/cover-image.jpg)no-repeat bottom center; 
    }
    video{
        display: none;
    }
    .film{
        padding-top: 2%;
    }
    .description{
        font-size: 16px;
        max-width: 333px;
    }
    .film-logo{
        max-width: 100%;
    }
    .tags{
        margin-bottom: 10px;
    } 
}

@media(max-width:768px){
    .button-text{
        display: none;
    }
    .user-name{
        display: none;
    }
    .app{
        padding-bottom: 350px;
        background-size: 300px;
    }
}